parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
    ignoreErrors:
           - '#^Property App\\Entity\\User::\$tasks is never read, only written\.$#'