@import "~bootstrap/scss/bootstrap";
body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}


.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.card {
    background: radial-gradient(circle, #ff7e5f, #feb47b);
}

.card-list {
    height: 200px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #ff7e5f, #feb47b);
    margin: 5px;

    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-img-top {
        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }
}
